# <font color='blue'>datapython</font>
## sprint02-02 Variáveis

In [1]:
# Atribuindo o valor numérico inteiro 1 
# (com o operador de atribuição =) à variável (referência) var_teste
var_teste = 1

In [2]:
# imprmir a variável
var_teste

1

In [3]:
# outra forma de chamar (imprimir) a variável
print(var_teste)

1

In [4]:
# Nova definição da variável
var_teste = 10

In [5]:
print(var_teste)

10

In [6]:
var_teste2 = var_teste

In [7]:
var_teste2

10

In [8]:
var_teste = 20

In [9]:
var_teste

20

In [10]:
var_teste2

10

In [11]:
# tipo de variável: numeros inteiros ou numeros de pontos flutuantes (com vírgula)
type(var_teste)

int

In [14]:
var_teste3 = 9.5

In [15]:
type(var_teste3)

float

In [17]:
#declaração múltipla de variáveis
aluno1, aluno2, aluno3 = "Juliana", "Luciana", "Carol"

In [18]:
#Impressão de cada variável
aluno1

'Juliana'

In [19]:
aluno2

'Luciana'

In [20]:
aluno3

'Carol'

In [21]:
# várias variáveis com o mesmo valor
var1 = var2 = var3 = 4

In [22]:
var1

4

In [23]:
var2

4

In [24]:
var3

4

In [25]:
# variação de apenas uma variável
var3 = 20

In [26]:
var3

20

In [27]:
# as outras variáveis são mantidas
var2

4

In [28]:
x1 = 50

In [29]:
x1

50

In [30]:
false = 1

In [31]:
false = 2

In [32]:
altura = 4

In [33]:
largura = 2

In [34]:
area = altura * largura

In [35]:
area

8

In [37]:
perimetro = 2 * largura + 2 * altura

In [38]:
perimetro

12

In [39]:
# utilizando parenteses utilizando a expressão anterior (de forma incorreta)
perimetro = 2 * (largura + 2) * altura

In [40]:
perimetro

32

In [41]:
idade1 = 20

In [42]:
idade2 = 25

In [43]:
#soma de variáveis
idade_total_casal = idade1 + idade2

In [44]:
idade_total_casal

45

In [45]:
#diferença de variáveis
idade1 - idade2

-5

In [47]:
# multiplicação de variáveis
idade2 * idade1

500

In [49]:
# Operador de concatenação de strings (sequência de caracteres)
nome = "Clayton"

In [50]:
sobrenome = "Chagas"

In [54]:
fullname = nome + " " + sobrenome

In [55]:
fullname

'Clayton Chagas'